/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%; 
    }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    flex-basis: 20%;
}

.help-tickets-title{
    text-align: center;
}

#update-ticket-resolution-title, .help-tickets-title{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}
.add-to-favorites-button{
    background-color: #007849 !important;
}
/* .form-control{
    width: 25% !important;
} */

.update-expansion-panel{
    width: 20%;
    background-color: #d9d9dd;
    margin-left: 0 !important;
}

#create-ticket-button{
    margin-top: 2%;
}

#create-ticket-form{
    width: 50%;
    margin-left: 2.5%;
}

#create-ticket-title{
    margin-left: 2.5%;
    margin-top: 2.5%;
}

#ticket-submission-text{
    margin-left: 2.5%;
    margin-top: 2.5%;
}

mat-expansion-panel{
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 0.5% !important;
}