<p>favoritedticket works!</p>


<table class="table table-hover">
    <thead>
        <th>Ticket Name:</th>
        <th>Ticket Description:</th>
        <th>Resolved?</th>
        <th>Completed By:</th>
        <th>Resolution Notes:</th>
    </thead>
    <tbody>
           <!-- <tr *ngFor="let ticket of tickets"> -->
             <tr *getFavortedticket="let ticket of tickets2"> 
                <td>{{ticket.ticketName}}</td>
                <td>{{ticket.ticketDescription}}</td>
                <td>{{ticket.isResolved}}</td>
                <td>{{ticket.completedBy}}</td>
                <td>{{ticket.resolutionNotes}}</td>
                <!-- some sort of edit option -->
            </tr>
    </tbody>
</table>


<ul>
    <div *ngFor="let ticket of tickets2">
        <li>{{ticket.ticketName}}</li>
    </div>
</ul>