<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

<h1>Bookmarked Tickets</h1>

<table class="table table-hover">
    <thead>
        <th>Ticket Name:</th>
        <th>Ticket Description:</th>
        <th>Resolved?</th>
        <th>Completed By:</th>
        <th>Resolution Notes:</th>
    </thead>
    <tbody>
            <tr *ngFor="let ticket of tickets">
                <td>{{ticket.ticketName}}</td>
                <td>{{ticket.ticketDescription}}</td>
                <td>{{ticket.isResolved}}</td>
                <td>{{ticket.completedBy}}</td>
                <td>{{ticket.resolutionNotes}}</td>
                <!-- some sort of edit option -->
            </tr>
    </tbody>
</table>


