<nav class="navbar">
  <a class="nav-item nav-link" routerLink="/welcomepage"
  routerLinkActive="active">Home</a>
  <a class="nav-item nav-link" routerLink="/createticket"
routerLinkActive="active">Create</a>
  <a class="nav-item nav-link" routerLink="/ticket"
routerLinkActive="active">Tickets</a>
  <a class="nav-item nav-link" routerLink="/bookmarkedticket"
routerLinkActive="active">Bookmarked</a>
 <a class="nav-item nav-link" routerLink="/favoritedticket"
routerLinkActive="active">Favorited</a>
</nav>
<router-outlet></router-outlet>



