<h1 id="create-ticket-title">Create A Ticket</h1>

<div>
    <form #ticketForm="ngForm" (ngSubmit)="createTicket(ticketForm)" id="create-ticket-form">
        <div class="form-group">
            <label for="ticketName">Title:</label>
            <input name="ticketName" id="ticketName" class="form-control" ngModel />
        </div>
        <div class="form-group">
            <label for="createdBy">Created By:</label>
            <input name="createdBy" id="createdBy" class="form-control" ngModel />
        </div>
        <div class="form-group">
            <label for="ticketDescription">Description:</label>
            <input name="ticketDescription" id="ticketDescription" class="form-control" ngModel />
        </div>
        <div hidden>
            <label for="isResolved">Completion Status:</label>
            <input name="isResolved" id="isResolved" ngModel />
        </div>
        <div class="form-group" hidden>
            <label for="completedBy">Person that Completed it:</label>
            <input name="completedBy" id="completedBy" class="form-control" ngModel />
        </div>
        <div class="form-group" hidden>
            <label for="resolutionNotes">Additional Notes:</label>
            <input name="resolutionNotes" id="resolutionNotes" class="form-control" ngModel />
        </div>


        <div>
            <button type="submit" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
                data-content="Ticket Made" id="create-ticket-button">Create</button>
        </div>


    </form>
</div>
<div *ngIf="showHiddenText" id="ticket-submission-text">
    <h3>Thanks for your submission! Check the tickets page to view all created tickets.</h3>
</div>