<h3>View All Tickets</h3>
<hr>
<br>
<div *ngFor="let ticket of tickets.allTickets">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ticket.ticketName}}
            </mat-panel-title>
            <mat-panel-description>
                Created By: {{ticket.createdBy}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <li>Description: {{ticket.ticketDescription}}</li>
        <li>Is Resolved?: {{ticket.isResolved}}</li>
        <li>Completed By: {{ticket.completedBy}}</li>
        <li>Resolution Notes: {{ticket.resolutionNotes}}</li>
        <mat-action-row>
            <form  #updateTicketForm="ngForm" (ngSubmit)="updateTicket(updateTicketForm)">
                <div hidden>
                    <input name="id" id="id" [(ngModel)]="ticket.id" ngModel />
                </div>
                <div class="form-group">
                    <label for="createdBy">Author:</label>
                    <input name="createdBy" id="createdBy" [(ngModel)]="ticket.createdBy" ngModel />
                </div>
                <div class="form-group">
                    <label for="ticketDescription">Description:</label>
                    <input name="ticketDescription" id="ticketDescription" [(ngModel)]="ticket.ticketDescription" ngModel />
                </div>
                <div class="form-group">
                    <label for="isResolved">Completion Status:</label>
                    <input name="isResolved" id="isResolved" [(ngModel)]="ticket.isResolved" ngModel />
                </div>
                <div class="form-group">
                    <label for="completedBy">Person that Completed it:</label>
                    <input name="completedBy" id="completedBy" [(ngModel)]="ticket.completedBy" ngModel />
                </div>
                <div class="form-group">
                    <label for="resolutionNotes">Additional Notes:</label>
                    <input name="resolutionNotes" id="resolutionNotes" [(ngModel)]="ticket.resolutionNotes" ngModel />
                </div>
            
                <div>
                    <button mat-raised-button color="primary" type="submit">Update Ticket</button>
                  </div>
                </form>
        </mat-action-row>
        <mat-action-row>
            <button mat-raised-button color="warn" (click)="deleteTicket(ticket.id)">Delete Ticket</button>
        </mat-action-row>
    </mat-expansion-panel>
</div>
